@import"./partials/_variables";
@import"./partials/_nav";
@import"./partials/_alturas-margenes-bordes";
@import"./partials/_fuentes";

*{
    margin: 0px;
    padding: 0px;
}
#header img{
    height: 150px;
}

ul{
    list-style-type: none;
    
    li{
        text-align: center;

.li1{
    height: 70px;
    margin-top: 20px;
    margin-bottom: 5px;
    

.li2{
    
    height: $principal;


.li3{
    
    margin-top: 40px;


.li4{
    
    height: $principal;
    margin-top: 25px;


.li5{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    margin-left: 85px;
    margin-top: 35px;


.li6{
    margin-bottom: 12px;
    list-style-type: none;
                            }

                         } 

                    }    

                }

            }

        }

    }

}
h1{
    color: blanchedalmond;
    font-size: 40px;
    text-align: center;
    align-self: center;
    margin-left: 150px;
    font-family:'Satisfy', cursive;
       
}

#contenedor{
    width: 1200px;
    height: 1000px;
    background-color: $colordefondo;
    background-repeat:no-repeat;
    margin: 0.5em auto;
    padding: 0.5em;
}

#header{
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
    align-content:space-around;
    height: 15%;
    background-image: linear-gradient(to right, rgb(5, 2, 4), rgb(196, 14, 171), black);
    border-radius: $secundario;
    margin: $secundario;
    

    }


#nav{
    height: $alturanav;
    background: $colorsecundario;
    border-radius: $borde-margen;
    margin-left: $borde-margen;
    display: flex;
    list-style-type: none;
}

#contenido{
    height: 53%;
    margin: $secundario;
    
}

#footer{
    height: 10%;
    background: $colorsecundario;
    border-radius: $secundario;
    margin: $secundario;
    
}

#section{
    display: flex;
    flex-direction: column;
    height: $terciario;
    width:  71%;
    background-color: rgb(95, 33, 59);
    float: left;
    border-radius: $secundario;
    
}

#aside{
    display: flex;
    float: right;
    flex-direction: column;
    height: $terciario;
    width: 25%;
    background-color: $colorterciario;
    margin: 0.5em;
    
}

.artículo{
    width: 96%;
    height: 18%;
    background-color: $colorterciario;
    margin: $secundario;
    border-radius: $secundario;
    text-align: center;
    align-self: center;
    font-family: $fuenteprincipal;
    align-content: stretch;
}

.artículo1{
    height: 25%;
}

.textArticle{
    font-size: 30px;
    font-family: $fuenteprincipal;
    align-content: stretch;

}

.artículoConmebol{
    width: 96%;
    height: 20%;
    background-color: $colorsecundario;
    margin: $secundario;
    border-radius: $secundario;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}



.imgArticle{
    margin: $secundario;
    border-radius: $secundario;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    height: 65px;
    width: 90px;
    transition: 1s;
}

.imgArticle:hover{
    transform: scale(2);
}

.padre-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    display: inline;
    align-content: center;
}

.li{
    margin-left: 50px;
    margin-right: 5px;
    align-content:center;    
    list-style-type: none;
    float: left;
    border: outset rgb(180, 176, 176);
    justify-content: space-evenly;
    margin-top: $principal;
}

#nav a{
    display: flex;
    margin: 2px; 
    flex-direction: row;
    color: rgb(236, 92, 217);
    font-size: 25px;
    text-decoration: none;
}

.container{
    border: $borde-tipo;
    color: $colorterciario;
    align-self: center;
    margin-top: 8%;
    
}

.col-2{
    border: $borde-tipo;
    font-size: 100%;
}
.col-4{
    border: $borde-tipo;
    font-size: 150%;

}

.col-6{
    border: $borde-tipo;
}

/* Clase 12 */ 

$goleador: Messi; /* Constante */
p {
    @if $goleador == Suarez {
        color: skyblue;
}   @else if $goleador == Neymar {
        color: wheat;
}   @else if $goleador == Sánchez {
    color: purple; 
}
    @else {
        color: pink;
}

}

/* Ejercicio del FOR */

@for $i from 1 through 3 {
    .casigol-#{$i} {width: 3em * $i;}
}

/* Ejercicio "to" */

@for $i from 2 to 4 {
    .miasistencia-#{$i} {width: (4em * $i); }
}

